include ./_range.pug

section.filter.filter--hidden
  .filter__container  
    .filter__wrapper
      h2.filter__title Filter
      button.filter__close
    h3.filter__subtitle Price ($)
    .filter__wrapper
      button.btn.filter__btn.filter__btn--price(data-filter="200") 0-200
      button.btn.filter__btn.filter__btn--price(data-filter="400") 200-400
      button.btn.filter__btn.filter__btn--price(data-filter="600") 400-600
      button.btn.filter__btn.filter__btn--price(data-filter="more") More
    .filter__wrapper.filter__wrapper--range
      +range
    h3.filter__subtitle Shape
    .filter__wrapper
      button.btn.filter__btn.filter__btn--shape(data-filter="circle") Circle
      button.btn.filter__btn.filter__btn--shape(data-filter="square") Square
      button.btn.filter__btn.filter__btn--shape(data-filter="rectangle") Rectangle
      button.btn.filter__btn.filter__btn--shape(data-filter="triangle") Triangle
    h3.filter__subtitle Size (Width/Height)
    .filter__wrapper.filter__wrapper--size
      button.btn.filter__btn.filter__btn--width(data-filter="200") 0-200
      button.btn.filter__btn.filter__btn--width(data-filter="400") 200-400
      button.btn.filter__btn.filter__btn--width(data-filter="600") 400-600
      button.btn.filter__btn.filter__btn--width(data-filter="more") More
    .filter__wrapper
      button.btn.filter__btn.filter__btn--height(data-filter="200") 0-200
      button.btn.filter__btn.filter__btn--height(data-filter="400") 200-400
      button.btn.filter__btn.filter__btn--height(data-filter="600") 400-600
      button.btn.filter__btn.filter__btn--height(data-filter="more") More
  button.filter__apply Apply