header.header
  nav.nav
    a(href="#").nav__logo
      img(src="./assets/img/logo.svg" alt="logo")
    a(href="#").btn.nav__link Top
    a(href="#").btn.nav__link Painters
    a(href="#").btn.nav__link Design
    a(href="#").btn.nav__link Tags
  .right-nav
    input(type="text" name="search" placeholder="Search").right-nav__input
    button.right-nav__btn