nav.menu
  a(href="#").menu__link.menu__link--feed Feed
  a(href="#").menu__link.menu__link--gallery Gallery
  a(href="#").menu__link.menu__link--deals Deals
  a(href="#").menu__link.menu__link--notify Notify
  a(href="#").menu__link.menu__link--profile Profile