<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title iBuy
  body
    include ./pug/_header.pug

    main

      include ./pug/_filter.pug

      include ./pug/_gallery.pug

      include ./pug/_menu.pug

    script(src="./main.js")