.noUi-horizontal {
  height: 6px;
  border: none;
  border-radius: 3px;
}

.noUi-connect {
  background: $secondary-text;
  height: 6px;
  z-index: 100;
}

.noUi-horizontal .noUi-handle {
  width: 25px;
  height: 25px;
  background: $apply-text;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  left: 20px;
  top: -9px;
  outline: none;
}

.noUi-handle::before,
.noUi-handle::after {
  display: none;
}

@media screen and (max-width: 700px) {
  .noUi-horizontal .noUi-handle {
    left: 40px;
  }
}